<li class="timeline-item period">
    <div class="timeline-info"></div>
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <a href="{{ page.url }}" title="{{ page.route }}">
            <h2 class="timeline-title">{{ page.header.title }}</h2>
        </a>
        {% if page.header.subtitle %}
        <h3 class="timeline-title">{{ page.header.subtitle }}</h3>
        {% endif %}
        {{ page.content|truncate_words(truncate)|raw }}
    </div>
</li>