<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% block stylesheets %}
        {% if page.template == 'timeline' or page.template == 'timeline_event' %}
            {% do assets.addCss('plugin://timeline/node_modules/bootstrap/dist/css/bootstrap.min.css') %}
            {% do assets.addCss('plugin://timeline/assets/timeline.css') %}
            {% do assets.addCss('plugin://timeline/assets/timeline.print.css') %}
            {% do assets.addCss('//fonts.googleapis.com/css?family=Roboto', {'group': 'bottom'}) %}
            {{ assets.css()|raw }}
        {% endif %}
    {% endblock %}
    {% endblock %}
    </head>
    <body class="timeline-page">
    {% block header %}
        {% include 'partials/timeline_header.html.twig' %}
    {% endblock %}
    {% block timeline %}
        {% set timeline_content = build_timeline(page.route) %}
        {% if page.header.truncate is defined %}
            {% set truncate = page.header.truncate %}
        {% elseif config.plugins['timeline'].truncate is defined %}
            {% set truncate = config.plugins['timeline'].truncate %}
        {% else %}
            {% set truncate = false %}
        {% endif %}
        
        {% if page.header.truncate_image is defined %}
            {% set truncate_image = page.header.truncate_image %}
        {% elseif config.plugins['timeline'].truncate_image is defined %}
            {% set truncate_image = config.plugins['timeline'].truncate_image %}
        {% else %}
            {% set truncate_image = false %}
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="header col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    <h1 class="title">{{ page.title }}</h1>
                    <h2 class="subtitle">{{ page.header.subtitle }}</h2>
                    {% if page.header.image is defined and not truncate_image %}
                    <figure class="mt-4" itemprop="image">
                        <a href="{{ page.route }}">
                            <img src="{{ page.media[page.header.image].url }}" alt="{{ page.header.image_alt|striptags }}">
                        </a>
                        {% if page.header.image_caption is defined and page.header.image_caption is not empty %}
                        <figcaption>{{ page.header.image_caption|markdown }}</figcaption>
                        {% endif %}
                    </figure>
                    {% endif %}
                    {{ page.content|raw }}
                    <hr />
                </div>
                <div class="print timeline-wrapper col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    {% block timeline_events %}
                    {% import "macros/timeline.html.twig" as macros %}
                    <ul class="timeline timeline-centered">
                        {{ macros.timeline_iteration(timeline_content, truncate, truncate_image) }}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {% include 'partials/timeline_footer.html.twig' %}
    {% endblock %}
    {% block scripts %}
        {{ assets.js()|raw }}
        {{ assets.css('bottom')|raw }}
        {{ assets.js('bottom')|raw }}
        {% if config.plugins['timeline'].linked_data %}
        <script type="application/ld+json">{{ build_linkeddata(page.route) }}</script>
        {% endif %}
    {% endblock %}
    </body>
</html>
