{% extends 'timeline.html.twig' %}

{% block timeline %}
<div class="timeline container-fluid">
    <div class="row">
        <div class="header col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
            {% if page.header.image is defined and not truncate_image %}
            <figure class="mt-4" itemprop="image">
                <a href="{{ page.route }}">
                    <img src="{{ page.media[page.header.image].url }}" alt="{{ page.header.image_alt|striptags }}">
                </a>
                {% if page.header.image_caption is defined and page.header.image_caption is not empty %}
                <figcaption>{{ page.header.image_caption|markdown }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}
            <h1 class="title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.header.subtitle }}</h2>
            <time datetime="{{ dt(page.date, 'c', page.header.locale|default('en')) }}">{{ dt(page.date, page.header.date_format|default(site.date_short)|default('d-m-Y'), page.header.locale|default("en")) }}</time>
            {{ page.content|raw }}
            <hr />
        </div>
        <div class="print timeline-wrapper col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
            {% block timeline_events %}
            {% import "macros/timeline.html.twig" as macros %}
            <ul class="timeline timeline-centered">
                {{ macros.timeline_iteration(timeline_content, truncate, truncate_image) }}
            </ul>
            {% endblock %}
        </div>
    </div>
    {% set siblings = page.parent.children.order(orderBy|default('date'), orderBy|default('asc')) %}
    <div class="row">
        <div class="col-5 offset-md-1">
            {% if siblings.nextSibling(page.path) is not null %}
                {% set next = siblings.nextSibling(page.path) %}
                <div class="timeline-info">
                <span>{{ dt(next.date, next.header.date_format, next.header.locale|default("en")) }}</span>
                </div>
                <a href="{{ next.url }}" class="timeline-title">
                    <h3>{{ next.title }}</h3>
                </a>
                {% if next.header.subtitle is not empty %}
                    <h4 class="timeline-title">{{ next.header.subtitle }}</h4>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-5 offset-md-1">
            {% if siblings.prevSibling(page.path) is not null %}
                {% set prev = siblings.prevSibling(page.path) %}
                <div class="timeline-info">
                <span>{{ dt(prev.date, prev.header.date_format, prev.header.locale|default("en")) }}</span>
                </div>
                <a href="{{ prev.url }}" class="timeline-title">
                    <h3>{{ prev.title }}</h3>
                </a>
                {% if prev.header.subtitle is not empty %}
                    <h4 class="timeline-title">{{ prev.header.subtitle }}</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
