<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
    {% block stylesheets %}
        {% if page.template == 'timeline' or page.template == 'timeline_event' %}
        {% do assets.addCss('plugin://timeline/node_modules/bootstrap/dist/css/bootstrap.min.css') %}
        {% do assets.addCss('plugin://timeline/assets/timeline.css') %}
        {% do assets.addCss('plugin://timeline/assets/timeline.print.css') %}
        {% do assets.addCss('//fonts.googleapis.com/css?family=Roboto', {'group': 'bottom'}) %}
        {% do assets.addCss('plugin://timeline/node_modules/bootstrap/dist/css/bootstrap.min.css') %}
        {{ assets.css() }}
        {% endif %}
    {% endblock %}
    </head>
    <body>
    {% block timeline %}
        {% import "macros/timeline.html.twig" as macros %}
        {% if page.header.truncate is defined %}
            {% set config_truncate = page.header.truncate %}
        {% elseif config.plugins['timeline'].truncate is defined %}
            {% set config_truncate = config.plugins['timeline'].truncate %}
        {% else %}
            {% set config_truncate = false %}
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="header col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    <h1 class="title">{{ page.title }}</h1>
                    <h2 class="subtitle">{{ page.header.subtitle }}</h2>
                    {{ page.content|truncate_words(config_truncate) }}
                    <hr />
                </div>
                <div class="print timeline-wrapper col-12 col-sm-10 col-sm-offset-1 col-md-8 offset-md-2">
                    {% block timeline_events %}
                    <ul class="timeline timeline-centered">
                        {{ macros.timeline_iteration(timeline_content, config_truncate) }}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        {{ assets.js() }}
        {{ assets.css('bottom') }}
        {{ assets.js('bottom') }}
    {% endblock %}
    </body>
</html>